.App {
  text-align: center;
}

nav {
  background-color: #282c34;
  color: white;
  display: flex;
  justify-content: left;
  align-items: flex-end;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}