.App {
  text-align: center;
}

nav {
  background-color: #282c34;
  color: white;
  display: flex;
  justify-content: left;
  align-items: flex-end;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.article-card:hover {
  background-color: #f0f0f0;
}

.article-card {
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  transition: background-color 0.5s;
}

.page-nav-btn {
  border-radius: 0px;
}

.basic-card {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  width: 15%;
}

.card-content {
  font-size: 20px;
}

select {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  background-color: white;
}

.filter-controls {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 10px;
  width: 75%;
  display: block;
  margin: 0 auto;
  padding-top: 20px;
}
